* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #008cff;
  color: rgb(0, 0, 0);
}

abbr {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  position: relative;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
  transition: all 0.3s ease;
}

.menu-toggle img {
  width: 30px;
}

.menu img {
  height: 40px;
  width: auto;
  margin-right: 20px;
}

.link-anim {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

.link-anim:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.language-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 100px;
}

.language-dropbtn {
  background-color: #5e5e5e;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.language-dropbtn:hover {
  background-color: #555;
  border-radius: 8px;
}

.language-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}

.language-dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.language-dropdown-content a:hover {
  background-color: #00b7ff;
}

.kzindex-btn:hover {
  border-radius: 5px 5px 0 0;
}

.enindex-btn:hover {
  border-radius: 0 0 5px 5px;
}

.language-dropdown:hover .language-dropdown-content {
  display: block;
}

.menu-toggle {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background: none;
  font-size: 24px;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;

}

.menu.active {
  transform: translateX(0);
}

.close-menu {
  background: none;
  border: none;
}

.insta:hover {
  color: #008cff;
}

.tiktok:hover {
  color: #ff0077;
}

.whatsapp:hover {
  color: #15ff00;
}

.gis:hover {
  color: rgb(179, 255, 0);
}

.swiper-container {
  display: flex;
  overflow: hidden;
}

.swiper-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, 0%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 5;
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
  transition: all 300ms ease;
}

.swiper-text-overlay:hover {
  transform: translate(-50%, -50%) scale(1.2);
  text-shadow: none;
  color: aqua;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  filter: brightness(60%);
}

.scrolled {
  background: rgba(46, 46, 46, 0.3);
  backdrop-filter: blur(10px);
}

.facts-h1 {
  text-align: left;
  margin-bottom: 60px;
  padding: 30px;
  margin-left: -20px;
  background-color: #67c2ff;
  border-radius: 0 10px 10px 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fact-h1 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  padding: 10px 0;
  position: relative;
}

.facts {
  border-radius: 10px 0 0 10px;
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-right: -20px;
  background-color: #67c2ff;
  background-size: cover;
}

.fact {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  width: 200px;
  transition: all 0.3s ease;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fact:hover{
  background-color: #a2e5ff;
  transform: translate(-0%, -40%) scale(1.2);
  border-radius: 10px;
  border: 1px solid #008cff;
  width: 250px;
}

.fact h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.number {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

main {
  margin-top: 60px;
  padding: 20px;
}

.news {
  padding: 20px;
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center;
  font-family: "Prata", serif;
  font-weight: 800;
  font-style: normal;
}

.news h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.news-container {
  width: calc(33.333% - 20px);
  max-width: 300px;
  flex-grow: 1;
  flex-basis: 200;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.news-container h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #333;
}

.news-container p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

.news-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.news-container a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.news-container a:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.news-container h6 {
  margin: 10px 0;
  font-size: 0.875rem;
  color: #999;
}

.beyim-synaq{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.beyim-synaq a{
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.beyim-synaq a:hover{
  transform: scale(1.1);
  text-shadow: none;
}

.about-us {
  margin-top: 50px; 
  padding: 15px;
  width: 100vw;
  background-color: #67c2ff;
  box-sizing: border-box;
  position: relative;
  left: 50%; 
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; 
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.content {
  width: 100%; 
  max-width: 1200px;
  margin: 0 auto;
}

.about-us h1 {
  font-size: 32px;
  color: #222;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
  
.content p {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-style: italic;
}

.animation {
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  transition: transform 1s ease, color 0.4s ease;
}

.animation:hover {
  transform: translateY(50px);
  color: #008cff;
}

.kurator {
  background-color: #e6e3e3;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  text-align: left;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
  display: grid;
  place-items: center;
  width: 100%;
  margin: 50px auto 30px;
  box-sizing: border-box;
}

.kurator.show {
  opacity: 1;
  max-height: 1000px;
}

.kurator img {
  border-radius: 10px 0 0 10px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: margin-left 0.5s ease;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.kurator-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  text-align: center;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-content {
  margin-bottom: 10
}

.additional-info {
  margin-top: 10px;
}

.about-NIS {
  padding: 20px;
  background-color: #fff;
  border-radius: 10% 30% 10% 30%/30% 10% 30% 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nis-content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  opacity: 0;
  animation: aboutNis1 2s forwards;
}

.nis-content1, .nis-content2 {
  width: 48%;
  animation: aboutNis2 2s forwards;
}

.nis-content1 h1 {
   text-align: center;
}

.nis-content2 {
  animation-delay: 1s;
  text-align: center;
}

.about-NIS img {
  margin-top: 25px;
  width: 40px;
}

.map-container {
  display: flex;
  width: 100%;
  height: 50vh;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  box-sizing: border-box; 
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.map-container .map {
  flex: 2;
}

.map-container .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.map-container .map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.map-container h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
  text-align-last: center;
}

.map-container p {
  font-size: 1rem;
  text-align-last: center;
}

.info a {
  color: #008cff;
  text-decoration: none;
}

footer {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  position: relative;
  width: 100%;
  bottom: 0;
  font-family: "Murecho", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  border-top: 1px #888888 solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 25px;
}

.footer-content {
  display: flex;
}

.footer-section {
  margin: 10px;
  flex: 1;
  min-width: 200px;
  justify-content: start;
}

.footer-section p {
  font-size: 1rem;
  line-height: 1.5;
}

.footer-bottom {
  margin-top: 10px;
  font-size: 1rem;
  padding: 20px 0;
  text-align: right;
}

.footer-bottom p {
  margin: 0;
  line-height: 1.5; 
}

.footer-content a, .footer-bottom a {
  text-decoration: none;
  transition: color 0.5s ease;
}

.footer-bottom a:hover {
  color: #008cff;
}

.footer-bottom a {
  color: #bebebe;
}

.social-link {
  display: row;
  color: #008cff;
  text-decoration: none;
  margin: 5px 0;
}

.social-link img {
  width: 20px;
  margin: 5px;
  transition: all 0.6s ease;
}

.HTML {
  width: 30px;
}

.CSS {
  width: 25px;
}

.JS {
  width: 40px;
}

.HTML, .CSS, .JS {
  margin: 10px;
}

.social-link img:hover {
  transform: translateY(-5px);
}

.footer-section:hover > :not(:hover) {
  opacity: 0.5;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 7px;
  cursor: pointer;
  font-size: 20px;
}

#scrollToTopBtn:hover {
  background-color: #0056b3;
}

#scrollToTopBtn img {
  width: 20px;
}

/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
  animation: fadeIn 0.5s ease-out forwards;
}

.fade-in.not-visible {
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes anim-box {
  from {
      opacity: 0;
      transform: translateX(-50%) translateY(10px);
  }
  to {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
  }
}

.marquee-container {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #f0f0f0;
}

.marquee {
  display: flex;
  width: 200%;
  animation: marquee 15s linear infinite;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.marquee span {
  flex: 1;
  white-space: nowrap;
  padding: 0 1rem;
  font-size: 50px;
}

@keyframes marquee {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(-50%);
  }
}

@keyframes aboutNis1 {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes aboutNis2 {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}